.expanded-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 324px;
  margin: 2rem auto 0;
  z-index: 100;
}

.glass-box {
  --glass-box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1), 
    inset 1.8px 3px 0px -2px rgba(255,255,255,0.6), 
    inset -2px -2px 0px -2px rgba(255,255,255,0.5), 
    inset -3px -8px 1px -6px rgba(255,255,255,0.3), 
    inset -0.3px -1px 4px 0px rgba(0,0,0,0.12), 
    inset -1.5px 2.5px 0px -2px rgba(0,0,0,0.2), 
    inset 0px 3px 4px -2px rgba(0,0,0,0.2), 
    inset 2px -6.5px 1px -4px rgba(0,0,0,0.1), 
    0px 1px 5px 0px rgba(0,0,0,0.1), 
    0px 6px 16px 0px rgba(0,0,0,0.08);
  
  width: 130px;
  padding: 0 0.5rem 0.5rem;
  margin: 1rem 0;
  background: rgba(129, 129, 129, 0.5);
  box-shadow: var(--glass-box-shadow);
  border-radius: 1rem;

  &.wide {
    width: 280px;

    p {
      line-height: 1.2;

      span:first-child {
        position: relative;
        top: -0.4rem;
        font-size: 1rem;
      }
    }
  }

  &.small-text {
    p {
      font-size: 2rem;
      line-height: 1.6;
    }

    span {
      font-size: 1rem;
    }
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #ddd;
    line-height: 2.5;
  }

  p {
    font-size: 2.5rem;
    line-height: 1.3;

    span, sup {
      font-size: 1.5rem;
      padding-left: 5px;
    }
  }
}

@supports
  (backdrop-filter: blur(6px)) or
  (-webkit-backdrop-filter: blur(6px))
{
  .glass-box {
    background-color: rgba(187, 187, 188, 0.12);
    backdrop-filter: blur(8px) saturate(150%) brightness(0.75);
    -webkit-backdrop-filter: blur(8px) saturate(150%);
  }
}

@media screen and (min-width: 750px) {
  .expanded-info {
    width: 600px;
  }

  .glass-box.wide {
    order: 5;
  }
}