:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 350px;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #f8f8f8;
  background: #212121;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}