#SnowEffect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.snow-none {
  opacity: 0.5;
}

.snow-dawn {
  background: rgba(6, 5, 25, 0.7);
  opacity: 0.8;
}

.snow-day {
  background: #060519;
  opacity: 0.6;
}

.snow-dusk {
  background: #060519;
  opacity: 0.5;
}

.snow-night {
  opacity: 0.3;
}