.sun-box {
  --sun-size: 100px;
  --sun-color: #f8ea81;
  --sun-center-color: #fef8cd;

  position: fixed;
  top: -20px;
  left: calc(30% - (var(--sun-size) / 2));
  width: var(--sun-size);
  height: var(--sun-size);
  z-index: 5;
  rotate: 0deg;
  animation: sun_rotate 160s linear infinite;

  .sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--sun-center-color);
    border-radius: var(--sun-size);
    box-shadow: 
      inset 0 0 50px 5px var(--sun-color),
      0 0 5px 10px var(--sun-color),
      0 0 80px 30px var(--sun-color);
    filter: blur(3px);
    z-index: 3;
  }

  .long-rays {
    position: absolute;
    top: -155px;
    left: 40px;
    width: 0;
    height: 0;
    opacity: 0.5;
    z-index: 2;

    .ray {
      position: absolute;
      top: -10px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom: calc(var(--sun-size) * 2) solid var(--sun-color);
      filter: blur(8px);
      transform-origin: 50% 100%;
      rotate: 15deg;

      &:after {
        content: '';
        position: absolute;
        left: -10px;
        top: calc(var(--sun-size) * 2);
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top: calc(var(--sun-size) * 2) solid var(--sun-color);
      }

      &:nth-child(2) {
        rotate: 75deg;
      }

      &:nth-child(3) {
        rotate: 135deg;
      }
    }
  }

  .short-rays {
    position: absolute;
    top: -54px;
    left: 40px;
    width: 0;
    height: 0;
    opacity: 0.7;
    z-index: 1;

    .ray {
      position: absolute;
      top: -2px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom: var(--sun-size) solid var(--sun-color);
      filter: blur(3px);
      transform-origin: 50% 100%;
      rotate: -15deg;

      &:after {
        content: '';
        position: absolute;
        left: -2px;
        top: var(--sun-size);
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: var(--sun-size) solid var(--sun-color);
      }

      &:nth-child(2) {
        rotate: 45deg;
      }

      &:nth-child(3) {
        rotate: 105deg;
      }
    }
  }
}

@keyframes sun_rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359deg;
  }
}